// Animations helper                               |
// - - - - - - - - - - - - - - - - - - - - - - - - |

.intro-rotate {
  -webkit-animation-name: intro-rotate;
  animation-name: intro-rotate;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
}

@-webkit-keyframes intro-rotate {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 300px, 0);
    right: 50%;
  }
  25% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    right: 50%;
  }
  50% {
    -webkit-transform: rotate(90deg) scale(4, 3);
    right: 50%;
  }
  75% {
    -webkit-transform: rotate(180deg) scale(50, 50);
    right: 50%;
  }
  100% {
    -webkit-transform: rotate(180deg) scale(9, 50);
    right: -10%;
  }
}
@-moz-keyframes intro-rotate {
  0% {
    opacity: 0;
    -moz-transform: translate3d(0, 300px, 0);
    right: 50%;
  }
  25% {
    opacity: 1;
    -moz-transform: translate3d(0, 0, 0);
    right: 50%;
  }
  50% {
    -moz-transform: rotate(90deg) scale(4, 3);
    right: 50%;
  }
  75% {
    -moz-transform: rotate(180deg) scale(50, 50);
    right: 50%;
  }
  100% {
    -moz-transform: rotate(180deg) scale(9, 50);
    right: -10%;
  }
}
@-ms-keyframes intro-rotate {
  0% {
    opacity: 0;
    -ms-transform: translate3d(0, 300px, 0);
    right: 50%;
  }
  25% {
    opacity: 1;
    -ms-transform: translate3d(0, 0, 0);
    right: 50%;
  }
  50% {
    -ms-transform: rotate(90deg) scale(4, 3);
    right: 50%;
  }
  75% {
    -ms-transform: rotate(180deg) scale(50, 50);
    right: 50%;
  }
  100% {
    -ms-transform: rotate(180deg) scale(9, 50);
    right: -10%;
  }
}
@-o-keyframes intro-rotate {
  0% {
    opacity: 0;
    -o-transform: translate3d(0, 300px, 0);
    right: 50%;
  }
  25% {
    opacity: 1;
    -o-transform: translate3d(0, 0, 0);
    right: 50%;
  }
  50% {
    -o-transform: rotate(90deg) scale(4, 3);
    right: 50%;
  }
  75% {
    -o-transform: rotate(180deg) scale(50, 50);
    right: 50%;
  }
  100% {
    -o-transform: rotate(180deg) scale(9, 50);
    right: -10%;
  }
}
@keyframes intro-rotate {
  0% {
    opacity: 0;
    transform: translate3d(0, 300px, 0);
    right: 50%;
  }
  25% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    right: 50%;
  }
  50% {
    transform: rotate(90deg) scale(4, 4);
    right: 50%;
  }
  75% {
    transform: rotate(180deg) scale(50, 50);
    right: 50%;
  }
  100% {
    transform: rotate(180deg) scale(9, 50);
    right: -10%;
  }
}

.intro-reveal {
  -webkit-animation-name: intro-reveal;
  animation-name: intro-reveal;
  -webkit-animation-duration: 2.2s;
  animation-duration: 2.2s;
}

@keyframes intro-reveal {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

* {
  -webkit-transition: 0.15s ease-in-out;
  -moz-transition: 0.15s ease-in-out;
  -o-transition: 0.15s ease-in-out;
  transition: 0.15s ease-in-out;
}

@media (max-width: $screen-xs-max) {
  * {
    -webkit-animation-duration: 0s !important;
    animation-duration: 0s !important;
  }
}
