// Main page layouts                               |
// - - - - - - - - - - - - - - - - - - - - - - - - |

.main-content {
  width: 100%;
  height: 100vh;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  display: flex;
  background: $white;
}

.soon {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  h1 {
    font-weight: 400;
    padding-bottom: 10px;
    border-bottom: 2px solid #acc0dd;
  }
}

.square {
  height: 40px;
  width: 40px;
  align-self: center;
  justify-self: center;
  position: absolute;
  background: $blue;
  z-index: 2;

  @media (max-width: $screen-xs-max) {
    display: none;
  }
}

.content {
  height: 100%;
  width: 75%;
  overflow-y: scroll;

  @media (max-width: $screen-sm-max) {
    width: 70%;
  }

  @media (max-width: $screen-xs-max) {
    width: 100%;
  }
}

.header {
  display: flex;
  align-items: center;
  position: fixed;
  background: $white;
  width: calc(75% - 15px);

  @media (max-width: $screen-sm-max) {
    width: calc(70% - 15px);
  }

  @media (max-width: $screen-xs-max) {
    width: 100%;
  }
}

.section {
  padding-top: 150px;
  padding-left: 130px;
  padding-right: 130px;
  width: 80%;

  @media (max-width: $screen-lg-max) {
    padding-left: 90px;
    padding-right: 90px;
    width: 100%;
  }

  @media (max-width: $screen-sm-max) {
    padding-top: 80px;
    padding-left: 40px;
    padding-right: 40px;
    width: 100%;
  }

  @media (max-width: $screen-xs-max) {
  }
}

.line {
  height: 2px;
  background-color: $blue-light;
}

.line-s {
  width: 15px;
  margin-left: -15px;
}

.line-m {
  width: 100px;

  @media (max-width: $screen-xs-max) {
    width: 100px;
  }
}
