// Typography                                      |
// - - - - - - - - - - - - - - - - - - - - - - - - |

// Font sizes

.title-l {
  font-size: 26px;
  line-height: 1.5;
}

.title-s {
  font-size: 16px;
  line-height: 2;
}

.default-s {
  font-size: 16px;
  line-height: 1.5;
}

.default-xs {
  font-size: 14px;
  line-height: 1.5;
}

// Font weight

.semibold {
  font-weight: 500;
}

.regular {
  font-weight: 400;
}

.thin {
  font-weight: 300;
}

// Mobile view sizes

@media (max-width: $screen-xl-max) {

  .title-l {
    font-size: 24px;
  }

  .title-s {
    font-size: 14px;
  }

  .default-s {
    font-size: 14px;
  }

  .default-xs {
    font-size: 12px;
  }
}

@media (max-width: $screen-sm-max) {

  .title-l {
    font-size: 20px;
  }
}
