// Variables                                       |
// - - - - - - - - - - - - - - - - - - - - - - - - |

// Fonts

$font-raleway: Raleway, sans-serif;

// Main colors

$blue: #90b0c8;
$blue-light: #b4c8d8;
$black: #000;
$pewter: #70718c;
$smoke: #f2f3f6;
$white: #fff;
$transparent: transparent;

// Background colors

$background-light: #fff;
$background-smoke: #f2f3f6;

// Custom media query variables

$screen-xs-max: 576px;
$screen-sm-max: 768px;
$screen-md-max: 992px;
$screen-lg-max: 1200px;
$screen-xl-max: 1440px;