<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="shortcut icon" type="image/png" href="img/favicon.png"/>
  <link rel="stylesheet" href="css/style.min.css">
  <title>Jovana Jovanovska</title>
</head>

<body>

  <div class="main-content">

    <div class="square intro-rotate" id="square"></div>

    <!-- Sidebar -->
    <nav class="sidebar navbar intro-reveal" id="sidebar">
      <ul class="sidebar-nav">
        <li class="nav-item">
          <a class="nav-link active" href="#profile">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#skills">Skills</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#experience">Experience</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#education">Education</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#languages">Languages</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#interests">Interests</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="mailto:jovanovska.jovana1@gmail.com">Contact</a>
        </li>
      </ul>
    </nav><!-- /sidebar -->

    <!-- Content -->
    <div class="content intro-reveal" data-spy="scroll" data-target="#sidebar" data-offset="0">

      <div class="header">
        <div class="line line-s mr20"></div>
        <p class="default-xs semibold header__tag mr20">CV</p>
        <h2 class="title-l semibold header__name mr30">Jovana Jovanovska </h2>
        <div class="line line-m"></div>
      </div>

      <div class="section m-top" id="profile">
        <h2 class="title-s regular section__subtitle">Personal profile</h2>
        <p class="default-s regular section__description">I made this CV at 2 am, because that's who I am - the last man standing in the office or on the dance floor. Love solving problems with family and friends, and teammates who can be both.</p>
        <p class="default-s regular section__description">With around 5 years of practical experience and two years full-time member of a brilliant team developing amazing projects for clients around the world and Silicon Valley’s tech companies. Working with colors and making pixel perfect UI is my biggest love, as long as the code is clean and well structured.</p>
      </div>

      <div class="section" id="skills">
        <h2 class="title-s regular section__subtitle">Skills</h2>
        <div class="section__list">
          <div class="section__list-left">
            <p class="default-s regular"><span class="section__dot"></span>Web Development</p>
            <p class="default-s regular"><span class="section__dot"></span>UI components slicing</p>
            <p class="default-s regular"><span class="section__dot"></span>JavaScript</p>
            <p class="default-s regular"><span class="section__dot"></span>jQuery</p>
            <p class="default-s regular"><span class="section__dot"></span>Node.js</p>
            <p class="default-s regular"><span class="section__dot"></span>HTML(5)</p>
            <p class="default-s regular"><span class="section__dot"></span>CSS(3)</p>
            <p class="default-s regular"><span class="section__dot"></span>SASS, LESS preprocesors</p>
            <p class="default-s regular"><span class="section__dot"></span>Grunt, Gulp, Webpack</p>
            <p class="default-s regular"><span class="section__dot"></span>Frontend for Ruby on rails app</p>
          </div>
          <div class="section__list-right">
            <p class="default-s regular"><span class="section__dot"></span>Components libraries for AngularJS app</p>
            <p class="default-s regular"><span class="section__dot"></span>Basic experience with Java backend</p>
            <p class="default-s regular"><span class="section__dot"></span>Git version control</p>
            <p class="default-s regular"><span class="section__dot"></span>Project management</p>
            <p class="default-s regular"><span class="section__dot"></span>SCRUM and Jira, Asana, Trello management tools</p>
            <p class="default-s regular"><span class="section__dot"></span>Quality assurance</p>
            <p class="default-s regular"><span class="section__dot"></span>Computer animation</p>
            <p class="default-s regular"><span class="section__dot"></span>Sketch and Adobe Illustrator design tools</p>
            <p class="default-s regular"><span class="section__dot"></span>and Zeplin, InVision, Marvel prototyping tools</p>
          </div>
        </div>
      </div>

      <div class="section" id="experience">
        <h2 class="title-s regular section__subtitle">Work experience</h2>
        <p class="default-s semibold mt10">April 2016 - present</p>
        <p class="default-s regular">Povio Labs, Ljubljana (Slovenia)</p>
        <p class="default-s regular"><span class="section__dot"></span>Working on various projects as a front-end engineer.</p>
        <p class="default-s regular"><span class="section__dot"></span>Building quality and pixel perfect UI.</p>
        <p class="default-s regular"><span class="section__dot"></span>Responsible for the front-end of Ruby on rails and AngularJS applications.</p>
        <p class="default-s regular"><span class="section__dot"></span>Developing and maintaining company's website.</p>
        <p class="default-s regular"><span class="section__dot"></span>Communicating, brainstorming and solving issues with clients and team members.</p>
        <p class="default-s regular"><span class="section__dot"></span>Project management and lead of QA in the first six months of the collaboration.</p>
        <p class="default-s semibold mt40">October 2014 - February 2016</p>
        <p class="default-s regular">Freelance Web developer</p>
        <p class="default-s regular"><span class="section__dot"></span>Designing and developing web applications on clients demand.</p>
        <p class="default-s regular"><span class="section__dot"></span>Prototyping, setting up and maintaining (cms) web stores.</p>
        <p class="default-s regular"><span class="section__dot"></span>Using PHP server-side language, JavaScript and jQuery for dynamic web sites.</p>
        <p class="default-s semibold mt40">January 2014 - July 2014</p>
        <p class="default-s regular">Faculty of Electrical Engineering and Computer Science, Maribor (Slovenia)</p>
        <p class="default-s regular"><span class="section__dot"></span>Modeling 3D avatars (human bodies).</p>
        <p class="default-s regular"><span class="section__dot"></span>Animating and rendering with Cinema 4D.</p>
        <p class="default-s regular"><span class="section__dot"></span>Designing 3D and 2D animation videos with Adobe After Effects.</p>
        <p class="default-s regular"><span class="section__dot"></span>Designing and developing project's landing page</p>
      </div>

      <div class="section" id="education">
        <h2 class="title-s regular section__subtitle">Education</h2>
        <p class="default-s semibold">2016</p>
        <p class="default-s regular">Master of Science: Informatics and Technologies of Communication</p>
        <p class="default-s regular">Faculty of Electrical Engineering and Computer Science, Smetanova 17, 2000 Maribor, Slovenia</p>
        <p class="default-s semibold mt30">2014</p>
        <p class="default-s regular">Bachelor of Science: Media Communications</p>
        <p class="default-s regular">Faculty of Electrical Engineering and Computer Science, Smetanova 17, 2000 Maribor, Slovenia</p>
        <p class="default-s semibold mt30">2011</p>
        <p class="default-s regular">High School Diploma</p>
        <p class="default-s regular">Gymnasium “Josip Broz Tito”, Bulevard 1st of May, 7000 Bitola, Macedonia</p>
      </div>

      <div class="section m-bottom" id="languages">
        <h2 class="title-s regular section__subtitle">Languages</h2>
        <div class="section__list">
          <div class="section__list-left">
            <p class="default-s semibold">Macedonian <span class="regular">mother tongue</span></p>
            <p class="default-s semibold">English <span class="section__progress"><span class="fill" style="width: 100%"></span></span></p>
            <p class="default-s semibold">Slovenian <span class="section__progress"><span class="fill" style="width: 100%"></span></p>
          </div>
          <div class="section__list-left">
            <p class="default-s semibold">Croatian <span class="section__progress"><span class="fill" style="width: 90%"></span></p>
            <p class="default-s semibold">Spanish <span class="section__progress"><span class="fill" style="width: 30%"></span></p>
            <p class="default-s semibold">German <span class="section__progress"><span class="fill" style="width: 10%"></span></p>
          </div>
        </div>
      </div>

      <div class="section m-bottom pt0" id="interests">
        <h2 class="title-s regular section__subtitle">Interests</h2>
        <div class="section__row">
          <div class="row-group">
            <img src="img/icon-concerts.svg" class="mr20">
            <p class="default-s regular info mr30">Festival & Concerts</p>
          </div>
          <div class="row-group">
            <img src="img/icon-photography.svg" class="mr20">
            <p class="default-s regular info mr30">Photography</p>
          </div>
          <div class="row-group">
            <img src="img/icon-travel.svg" class="mr20">
            <p class="default-s regular info mr30">Traveling</p>
          </div>
        </div>
      </div>

    </div><!-- /content -->

  </div>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="js/script.min.js"></script>

</body>
</html>